/* Init tailwind */

@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
    --main-bg-color: #cbf3f0;
    --secondary-bg-color: #81f2ed;
    --third-bg-color: #ff9f1c;

    --button-color: #2ec4b6;
}

.main-color {
    background: var(--main-bg-color);
}

.secondary-color {
    background: var(--secondary-bg-color);
}

.third-color {
    background: var(--third-bg-color);
}
